<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tracy Yang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Tracy Yang professional website">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <!-- This is for jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- This is a font for hamburger icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tracy Yang</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Tracy Yang</h1>
        <nav id="myTopnav" class="topnav">
            <a href="../index.html">Home</a>
            <a href="CV.html">CV</a>
            <a href="contact.html" class="active">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form action="">
            <label for="UserName"> Your Name (required):</label>
            <input type="text" name="UserName" id="UserName" required/>
            <label for="UserEmail"> Your Email (required):</label>
            <input type="email" name="UserEmail" id="UserEmail" required/>
            <label for="UserText"> Your Comment or Question:</label>
            <textarea name="UserText" id="UserText" cols="30" rows="10" required></textarea>
            <input type="submit" value="SEND" onclick="validate()"/>
        </form> 
        <p id="ValidateMsg"></p>
        <table>
            <tr><th>Contact Method</th><th>Description</th></tr>
            <tr><td>Email</td><td>tracyy2021@gmail.com</td></tr>
            <tr><td>Phone</td><td>917-209-3170</td></tr>
            <tr><td>LinkedIn</td><td>www.linkedin.com/in/tracyy2021</td></tr>
        </table>
    </div>
    <footer>
        <p id="copyYear">Tracy Yang &copy</p>
    </footer>
</body>
</html>