<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tracy Yang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Tracy Yang professional website">
    <link rel="stylesheet" href="static/style.css">
    <script defer src="static/script.js"></script>
    <!-- This is for jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- This is a font for hamburger icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tracy Yang</title>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Tracy Yang</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html" class="active">Home</a>
            <a href="CV.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2 id="greeting"></h2>
        <img class="classA" src="../static/IMG_6262.png" alt="Tracy Yang profile image" width="350px">
        <!-- <p class="classA" id="intro">I am a third-year student at Carnegie Mellon University studying Information Systems and Business Administration. 
            I am hard-working and enjoy navigating any challenges that come my way. I am also a very motivated individual with a passion for learning new things. 
            I always look for opportunities to grow and actively seek them in my career. 
        </p> -->
        <div class="classA">
            <span id="shortIntro">
                I am a third-year student at Carnegie Mellon University studying Information Systems and Business Administration. 
                I am hard-working and enjoy navigating any challenges
            </span>
            <span id="readMore"> read more ...</span>
            <span id="longIntro">
                that come my way. I am also a very motivated individual with a passion for learning new things. 
                I always look for opportunities to grow and actively seek them in my career.
            </span>
            <span id="readLess"> read less</span>
        </div>
    </div>
    <footer>
        <p id="copyYear">Tracy Yang &copy</p>
 </footer>
</body>
</html>
